.centered-layer {
    position: absolute;
    left: 50%;
    margin-left: -304px;
}

#backCanvas {
    z-index: 1;
}

#mainCanvas {
    z-index: 2;
}

#eventCanvas {
    z-index: 3;
}

.front {
    z-index: 4;
}

.back {
    z-index: 0;
}

.bordered-layer {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}